:root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    border: 1px solid black;
    vertical-align: center;
}

.board-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}